/*----- fonts ----------------------------------------------------------------*/
@font-face {
  font-family: 'cozette';
  src: url('/assets/fonts/cozette.woff2') format('woff2'),
    url('/assets/fonts/cozette.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*----- variables ------------------------------------------------------------*/
:root {
  --color-wines: #703d41;
  --color-candy: #bf3041; /* UPDATED! */
  --color-lotus: #e0c1bf;
  --color-shoyu: #46302a; /* NEW! */
  --color-baked: #d68067;
  --color-olive: #2e2d1c;
  --color-chive: #555f47;
  --color-reeds: #dccca1;
  --color-grass: #264d39; /* NEW! */
  --color-foamy: #729a89;
  --color-royal: #0e2d31;
  --color-coral: #145c62;
  --color-plush: #a2c9cb; /* NEW! */
  --color-black: #111111;
  --color-berry: #2a2858;
  --color-lilac: #b2adcc; /* NEW! */

  --color-black-alt: #161718;
}

/*----- elements -------------------------------------------------------------*/
a,
a:visited {
  color: var(--color-foamy);
  text-decoration: none;
}
body {
  background: var(--color-black);
  line-height: 1.5;
  min-width: 60em;
  font-family: 'cozette', monospace;
}
div:target {
  background: var(--color-olive);
}
html {
  color: var(--color-lotus);
  font-size: 12px;
}
t:before {
  content: '\a0\a0';
}
t:after {
  content: '\a0\a0';
}
table {
  border-collapse: collapse;
}
td {
  padding: 0 6px 0 0;
  vertical-align: top;
}
tr:nth-child(even) {
  background: var(--color-black-alt);
}

/*----- classes --------------------------------------------------------------*/
.open,
.closer,
.opener {
  display: inline;
}
.close {
  display: none;
}
a.link-asset,
a.link-asset:visited,
a.link-design,
a.link-design:visited,
a.link-font,
a.link-font:visited,
a.link-merchandise,
a.link-merchandise:visited {
  color: var(--color-baked);
}
a.link-music,
a.link-music:visited {
  color: var(--color-plush);
}
a.link-podcast,
a.link-podcast:visited {
  color: var(--color-lilac);
}
a.link-programming,
a.link-programming:visited {
  color: var(--color-reeds);
}
a.link-video,
a.link-video:visited {
  color: var(--color-candy);
}
a.project-link,
a.project-link:visited {
  color: var(--color-lotus);
  text-decoration: underline;
}
div.project-blurb {
  display: flex;
}
img.link-icon {
  vertical-align: middle;
}
img.project-icon {
  float: left;
  margin: 0.25em 0.5em 0.25em 0;
}
img.tag-icon {
  padding-right: 0.5em;
  vertical-align: middle;
}
.embedee {
  border: 0;
  display: block;
  margin: 0.5rem 0;
  width: 48em;
  height: 27em;
}
td.date {
  text-align: right;
}
td.links {
  width: 21em;
  padding: 0;
}
td.tags {
  width: 12em;
  padding: 0;
}
td.title {
  max-width: 48em;
  min-width: 27em;
}
