/**
 *  @file Element styles, for print
 *  @author Una Ada <una@anarchy.website>
 *  May 28, 2021
 */

html {
  background: white;
}
h2 {
  margin-top: 1em;
}
body {
  color: black;
  padding: 0.4in 0;
}
