/**
 *  @file Element styles, for mobile
 *  @author Una Ada <una@anarchy.website>
 *  May 28, 2021
 */

body {
  margin: 0 1rem !important;
  padding: 0 !important;
  width: calc(100% - 2rem) !important;
}
table {
  max-width: 100%;
}
