
/*----- GENERAL --------------------------------------------------------------*/
pre[class*='language-'],
code[class*='language-'] {
  color: #e0c1bf;
  text-shadow: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
@media print {
  pre[class*='language-'],
  code[class*='language-'] {
    text-shadow: none;
  }
}
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background: #222222;
}
:not(pre) > code[class*='language-'] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: #db4c69;
  background: #f9f2f4;
}

/*----- TOKENS ---------------------------------------------------------------*/
.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #555f47;
}
.token.punctuation {
  color: #555f47;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #703d41;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #729a89;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #145c62;
  background: #222222;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #145c62;
}
.token.function {
  color: #dccca1;
}
.token.regex,
.token.important,
.token.variable {
  color: #d68067;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

/*----- LINE HIGHLIGHTING ----------------------------------------------------*/
pre[data-line] {
  position: relative;
}
pre[class*='language-'] > code[class*='language-'] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #2e2d1c;
  box-shadow: inset 5px 0 0 #2e2d1c;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
