/*----- fonts ----------------------------------------------------------------*/
@font-face {
  font-family: 'cozette';
  src: url('../fonts/cozette.woff2') format('woff2'),
    url('../fonts/cozette.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*----- variables ------------------------------------------------------------*/
:root {
  --color-wines: #703d41;
  --color-candy: #bf3041; /* UPDATED! */
  --color-lotus: #e0c1bf;
  --color-shoyu: #46302a; /* NEW! */
  --color-baked: #d68067;
  --color-olive: #2e2d1c;
  --color-chive: #555f47;
  --color-reeds: #dccca1;
  --color-grass: #264d39; /* NEW! */
  --color-foamy: #729a89;
  --color-royal: #0e2d31;
  --color-coral: #145c62;
  --color-plush: #a2c9cb; /* NEW! */
  --color-black: #111111;
  --color-berry: #2a2858;
  --color-lilac: #b2adcc; /* NEW! */
}

/*----- elements -------------------------------------------------------------*/
a {
  color: var(--color-foamy);
  text-decoration: none;
}
a:visited {
  color: var(--color-foamy);
}
body {
  background: var(--color-black);
  line-height: 1.5;
  font-family: 'cozette', monospace;
}
div:target {
  background: var(--color-olive);
}
html {
  color: var(--color-lotus);
  font-size: 12px;
}
t:before {
  content: '\a0\a0';
}
t:after {
  content: '\a0\a0';
}
table {
  border-collapse: collapse;
}
td {
  padding: 0 6px 0 0;
  vertical-align: top;
}
tr:hover {
  background: var(--color-royal);
}

/*----- classes --------------------------------------------------------------*/
.open,
.closer,
.opener {
  display: inline;
}
.close {
  display: none;
}
img.link-icon {
  vertical-align: middle;
}
img.tag-icon {
  padding-right: 6px;
  vertical-align: middle;
}
.embedee {
  border: 0;
  display: block;
  margin: 0.5rem 0;
  width: calc(100vw - 16em);
  height: calc(calc(9 / 16) * calc(100vw - 16em));
}
span.title {
  display: inline-block;
  vertical-align: text-top;
  width: calc(100vw - 16em);
}
td.date {
  text-align: right;
}
td.tags {
  max-width: 9em;
  padding: 0;
}
td.title {
  max-width: 48em;
}
