/*----- fonts ----------------------------------------------------------------*/
@font-face {
  font-family: 'cozette';
  src: url('../fonts/cozette.woff2') format('woff2'),
    url('../fonts/cozette.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*----- variables ------------------------------------------------------------*/
:root {
  --color-black: #111111;
  --color-lotus: #e0c1bf;
  --color-baked: #d68067;
  --color-reeds: #dccca1;
  --color-olive: #2e2d1c;
  --color-chive: #555f47;
  --color-foamy: #729a89;
  --color-coral: #145c62;
  --color-royal: #0e2d31;
  --color-berry: #2a2858;
  --color-candy: #de2136;
  --color-wines: #703d41;
}

/*----- elements -------------------------------------------------------------*/
a {
  color: var(--color-foamy);
  text-decoration: none;
}
a:visited {
  color: var(--color-foamy);
}
body {
  background: var(--color-black);
  line-height: 1.2;
  font-family: 'cozette', monospace;
}
div:target {
  background: var(--color-olive);
}
html {
  color: var(--color-lotus);
  font-size: 12px;
}
img,
video {
  max-width: calc(100% - 1rem);
}
sup {
  vertical-align: top;
  position: relative;
  top: -0.3em;
}
t:before {
  content: '\a0\a0';
}
t:after {
  content: '\a0\a0';
}

/*----- classes --------------------------------------------------------------*/
.open,
.closer,
.opener {
  display: inline;
}
.close {
  display: none;
}
img.tag-icon {
  padding-right: 6px;
  vertical-align: middle;
}
.embedee {
  border: 0;
  display: block;
  margin: 0.5rem 0;
  width: calc(100vw - 16em);
  height: calc(calc(9 / 16) * calc(100vw - 16em));
}
span.title {
  display: inline-block;
  vertical-align: text-top;
  width: calc(100vw - 16em);
}
