---
---

@import 'vs.css';

//	Fonts
@font-face {
    font-family:'Una';
    src: url('/assets/fonts/una.eot');
	src: url('/assets/fonts/una.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/una.woff2') format('woff2'),
		url('/assets/fonts/una.woff') format('woff'),
		url('/assets/fonts/una.svg#Una Script') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-007D;
}

//	Variables
$black: #0a2619;
$white: white;
$accent: #de2136;
$highlight: #d68067;

/* Elements */
a {
	text-decoration: underline;
	color: $accent;
}
blockquote {
	padding-left: 10px;
	border-left: 2px solid $black;
	margin: 0;
}
blockquote p {
	margin: 0.5rem 0;
}
code {
	font-family: monospace;
	font-size: 0.7em;
}
div:target {
	background: $highlight;
}
h1,
h2,
h3,
h4 {
	font-style: italic;
	text-align: center;
}
h2 {
	margin-top: 3em;
}
html {
	background: $white;
	color: $black;
	font-family: 'Una', sans-serif;
	font-size: 24px;
	margin-left: calc(50vw - 360px);
	width: 720px;
}
img,
video {
	max-width: calc(100% - 1rem);
}
p {
	line-height: 1.5rem;
}
pre {
	background: $white;
	border: 1px solid $black;
	overflow: visible !important;
	padding: 10px !important;
	tab-size: 4;
}
small {
	font-size: 7pt;
}
sub {
	vertical-align: bottom;
	position: relative;
	bottom: -0.3em;
}
sup {
	vertical-align: top;
	position: relative;
	top: -0.3em;
}
table {
	border-collapse: collapse;
	line-height: 1.5rem;
	margin: 1em 0;
}
thead {
	font-weight: bold;
}
thead td {
	padding-bottom: 1rem;
}
tr:nth-child(even){
	background: $highlight;
}

/* Button */
.me				{bottom:1rem;max-width:150px;position:fixed;right:1rem;z-index:1000;}

@media print, screen and (max-width: 750px) {
	body.notes	{margin:0 1rem !important;padding:0 !important;position:static;width:auto !important;}
	table		{max-width:100%;}
}
@media print, screen and (max-width: 520px) {
	body		{margin:0 1rem !important;padding:0 !important;position:static;width:auto !important;text-align:left;}
	.headshot	{margin-bottom:1rem;max-width:none;width:100%;}
	.me			{position:relative;}
}
@media print {
	html		{background:white;}
	h2			{margin-top:1em;}
	body		{color:black;font-size:11pt;padding:0.4in 0;}
	.me			{display:none;}
}
