/*----- fonts ----------------------------------------------------------------*/
@font-face {
  font-family: 'CozetteUCSUR';
  src: url('/theme/dist/cozette-ucsur-vector-1.1.0.woff2') format('woff2'),
    url('/theme/dist/cozette-ucsur-vector-1.1.0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  /* Cozette used to render just fine at 12px, but newer versions seem to 
     render better at 13px. Thus, it needs to be tricked into interpreting 12px 
     as 13px, thus the 108.33% scaling. */
  size-adjust: 108.33%;
}
@font-face {
  font-family: 'CozetteUCSUR';
  src: url('/theme/dist/cozette-ucsur-vector-bold-1.1.0.woff2') format('woff2'),
    url('/theme/dist/cozette-ucsur-vector-bold-1.1.0.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  size-adjust: 108.33%;
}
@font-face {
  font-family: 'ArkPixelJA';
  src: url('/assets/fonts/ark-pixel-12px-monospaced-ja.otf.woff2')
    format('woff2'),
    url('/assets/fonts/ark-pixel-12px-monospaced-ja.otf.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArkPixelCN';
  src: url('/assets/fonts/ark-pixel-12px-monospaced-zh_cn.otf.woff2')
    format('woff2'),
    url('/assets/fonts/ark-pixel-12px-monospaced-zh_cn.otf.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GalmuriMono';
  src: url('/assets/fonts/GalmuriMono11.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  /* Doesn't need size-adjust Galmuri 11 is 12px tall lol*/
}
@font-face {
  font-family: 'Bengaluru';
  src: url('/assets/fonts/ATSBengaluru-SquareRegular.woff2') format('woff2'),
    url('/assets/fonts/ATSBengaluru-SquareRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  size-adjust: 133.33%;
}

/*----- variables ------------------------------------------------------------*/
:root {
  --color-wines: #703d41;
  --color-candy: #bf3041; /* UPDATED! */
  --color-lotus: #e0c1bf;
  --color-shoyu: #46302a; /* NEW! */
  --color-baked: #d68067;
  --color-olive: #2e2d1c;
  --color-chive: #555f47;
  --color-reeds: #dccca1;
  --color-grass: #264d39; /* NEW! */
  --color-foamy: #729a89;
  --color-royal: #0e2d31;
  --color-coral: #145c62;
  --color-plush: #a2c9cb; /* NEW! */
  --color-black: #111111;
  --color-berry: #2a2858;
  --color-lilac: #b2adcc; /* NEW! */

  --color-black-alt: #161718;

  --color-cutie: #ffb0b0; /* NONSTANDARD! */
}

/*----- elements -------------------------------------------------------------*/
a,
a:visited {
  color: var(--color-foamy);
  text-decoration: none;
}
blockquote {
  margin: 0 0 0 2rem;
}
body {
  background: var(--color-black);
  line-height: 1.5;
  margin: 1em;
  min-width: 60em;
  font-family: 'CozetteUCSUR', 'ArkPixelJA', 'ArkPixelCN', 'GalmuriMono', 
    'Bengaluru', monospace;
}
code {
  font-family: 'CozetteUCSUR', 'ArkPixelJA', 'ArkPixelCN', 'GalmuriMono',
    'Bengaluru', monospace;
}
div:target {
  background: var(--color-olive);
}
em {
  font-style: normal;
}
h2 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5;
  margin: 4em 0 0 0;
}
h2::after {
  content: '================================================================================';
  display: block;
  position: relative;
}
h3 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5;
  margin: 4em 0 0 0;
}
html {
  color: var(--color-lotus);
  font-size: 12px;
}
input,
textarea {
  background: none;
  border: 1px solid var(--color-lotus);
  color: inherit;
  font: inherit;
  width: calc(100% - 0.5em);
}
input:focus, textarea:focus {
  border-color: var(--color-candy);
  outline: none;
}
input[type="checkbox"] {
  appearance: initial;
  height: 1em;
  margin: 0 0.5em 0 0;
  padding: 0;
  vertical-align: middle;
  width: 1em;
}
input[type=checkbox]:checked::after {
  content: '\2713';
  line-height: 1;
  padding-left: 1px;
  vertical-align: top;
}
ol {
  padding-left: 2em;
}
p {
  margin: 1.5rem 0;
}
p + blockquote,
p + ul {
  margin-top: -1.5rem;
}
pre {
  font-family: 'CozetteUCSUR', 'ArkPixelJA', 'ArkPixelCN', 'GalmuriMono',
    'Bengaluru', monospace;
  font-variant-emoji: unicode;
  line-height: 13px;
  margin: 0;
}
sup a {
  text-decoration: none !important;
}
table {
  border-collapse: collapse;
  font-size: 1em;
}
td {
  padding: 0 6px 0 0;
  vertical-align: top;
}
textarea {
  resize: vertical;
}
thead, thead tr, thead tr th {
  font-weight: normal;
}
tr:nth-child(even) {
  background: var(--color-black-alt);
}
ul {
  list-style: '- ';
  padding-left: 1em;
}

/*----- classes --------------------------------------------------------------*/
.open,
.closer,
.opener {
  display: inline;
}
.close {
  display: none;
}
a.link-asset,
a.link-asset:visited,
a.link-design,
a.link-design:visited,
a.link-font,
a.link-font:visited,
a.link-merchandise,
a.link-merchandise:visited {
  color: var(--color-baked);
}
a.link-music,
a.link-music:visited {
  color: var(--color-plush);
}
a.link-podcast,
a.link-podcast:visited {
  color: var(--color-lilac);
}
a.link-programming,
a.link-programming:visited {
  color: var(--color-reeds);
}
a.link-video,
a.link-video:visited {
  color: var(--color-candy);
}
a.project-link,
a.project-link:visited {
  color: var(--color-lotus);
  text-decoration: underline;
}
div.article {
  font-variant-emoji: unicode;
  margin-left: calc(50vw - 20rem);
  width: 40rem;
}
div.article:last-of-type {
  margin-bottom: 50vh;
}
div.article:target {
  background: initial;
}
div.article a {
  text-decoration: underline;
}
div.article h2 a {
  text-transform: none;
}
div.article img {
  max-width: 100%;
}
div.article img.left {
  float: left;
  margin: 0.75em 1em 0.75em 0;
}
div.article img.right {
  float: right;
  margin: 0.75em 0 0.75em 1em;
}
div.article table {
  width: 100%;
}
div.project-blurb {
  display: flex;
}
div#tag-lists {
  column-gap: 0;
  column-width: 32em;
  max-width: 128em;
}
img.ill {
  float: left;
  margin: 0.25em;
}
img.link-icon {
  vertical-align: middle;
}
img.project-icon {
  float: left;
  margin: 0.25em 0.5em 0.25em 0;
}
img.rec-icon {
  margin: 0.25em 0;
}
img.tag-icon {
  padding-right: 0.5em;
  vertical-align: middle;
}
.embedee {
  border: 0;
  display: block;
  margin: 0.5rem 0;
  width: 48em;
  height: 27em;
}
.kannada {
  font-family: 'Bengaluru', 'CozetteUCSUR', 'ArkPixelJA', 'ArkPixelCN', 
    monospace;
}
p.center {
  text-align: center;
}
p.entry {
  margin: 0.5em 0 0 0;
  text-indent: 2em hanging;
}
p.entry-cont {
  margin: 0.25em 0 0 0;
  margin-left: 2em;
}
sup[id*="fnref"] {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  vertical-align: baseline;
}
table.changelog tr:nth-child(even) {
  background: none;
}
table.theme {
  margin: 6rem 0 0 0;
}
table.theme pre {
  line-height: 1.5;
}
table.theme img {
  padding: 0.25em 0;
}
table.tag-list {
  margin-bottom: 3em;
}
table[class*="-chart"] {
  border: 1px solid var(--color-lotus);
}
table[class*="-chart"] thead,
table[class*="-chart"] tr.section {
  border: 1px solid var(--color-lotus);
}
table[class*="-chart"] thead td,
table[class*="-chart"] thead th {
  padding-top: 0.5em;
}
table[class*="-chart"] tr.section td {
  padding-top: 0.5em;
  border: none !important;
}
table[class*="-chart"] tr {
  background: none;
}
table[class*="-chart"] td {
  padding: 0;
}
table[class*="-chart"] td:first-child {
  padding-left: 0.5em;
  border-right: 2px solid var(--color-lotus);
}
table[class*="-chart"] td:nth-child(2) {
  padding-left: 0.5em;
}
td.date {
  text-align: right;
}
td.links {
  width: 21em;
  padding: 0;
}
td.tag-icons {
  padding: 0;
  text-align: center;
  width: 3em;
}
td.tag-name,
td.tags {
  width: 12em;
  padding: 0;
}
td.tag-path {
  width: 16em;
  padding: 0;
}
td.title {
  max-width: 48em;
  min-width: 27em;
}
ul.task-list {
  list-style: none;
  padding-left: 0;
}
ul.task-list ul.task-list {
  border-left: 1px solid var(--color-lotus);
  margin-left: 0.5em;
  padding-left: 1em;
}

.anime {
  color: var(--color-plush)
}
.manga {
  color: var(--color-baked);
}
.novel {
  color: var(--color-lilac)
}

@media screen and (max-width: 1574px) {
  div#tag-lists {
    max-width: 96em;
  }
}

@media screen and (max-width: 1190px) {
  div#tag-lists {
    max-width: 64em;
  }
}

@media screen and (max-width: 806px) {
  div#tag-lists {
    max-width: 32em;
  }
}

@media screen and (max-width: 756px) {
  body {
    min-width: 0;
  }
  td.links {
    width: auto;
  }
  td.tags,
  tr.project {
    display: none;
  }
  td.title {
    width: 27em;
  }
}

@media screen and (max-width: 666px) {
  td.links {
    display: none;
  }
  td.title {
    width: auto;
  }
}

@media screen and (max-width: 564px) {
  a.note,
  div.notes,
  span.embed-button,
  thead.header {
    display: none;
  }
  body {
    line-height: 2;
  }
  div.article {
    margin-left: 0;
    line-height: 1.5;
  }
}


/*----- PPRISM ---------------------------------------------------------------*/
pre[class*='language-'],
code[class*='language-'] {
  color: var(--color-lotus);
  text-shadow: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
@media print {
  pre[class*='language-'],
  code[class*='language-'] {
    text-shadow: none;
  }
}
pre[class*='language-'] {
  line-height: 1.5;
  margin: 0.5em 0;
  overflow: auto;
  padding: 0.5em;
  background: var(--color-black-alt);
}
:not(pre) > code {
  padding: 0.1em 0.5em;
  color: var(--color-lotus);
  background: var(--color-black-alt);
}

/*----- TOKENS ---------------------------------------------------------------*/
.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-chive);
}
.token.punctuation {
  color: var(--color-chive);
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--color-wines);
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--color-wines);
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--color-coral);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--color-coral);
}
.token.function {
  color: var(--color-reeds);
}
.token.regex,
.token.important,
.token.variable {
  color: var(--color-backed);
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

div.article pre[class*='language-'] {
  background: initial;
  border: 1px solid var(--color-lotus);
}