/*----- Variables ------------------------------------------------------------*/
:root {
  /*----- Color Palette ------------------------------------------------------*/
  --color-black: #222222ff;
  --color-lotus: #e0c1bfff;
  --color-baked: #d68067ff;
  --color-reeds: #dccca1ff;
  --color-olive: #2e2d1cff;
  --color-chive: #555f47ff;
  --color-foamy: #729a89ff;
  --color-coral: #145c62ff;
  --color-royal: #0e2d31ff;
  --color-berry: #2a2858ff;
  --color-candy: #de2136ff;
  --color-wines: #703d41ff;
  --color-blank: #00000000;

  --size-em: 12px;

  --font-mono: 'Roboto Mono', monospace;
}

a {
  color: var(--color-foamy);
}
h1 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin: 2.8rem 0 0 0;
}
h2 {
  column-span: all;
  margin: 1.4rem 0 0 0;
}
h2::before {
  color: var(--color-coral);
  content: 'class ';
}
h2::after {
  color: var(--color-chive);
  content: ' { ';
}
h3 {
  color: var(--color-baked);
  display: inline-block;
  margin: 0;
  font-size: 1em;
}
h3::before {
  color: var(--color-coral);
  content: 'static ';
}
h3::after {
  color: var(--color-coral);
  content: ' = ';
}
html {
  background: var(--color-black);
  color: var(--color-lotus);
  line-height: 1.4;
  font-family: var(--font-mono);
  font-size: var(--size-em);
}
ul,
ol {
  margin: 0;
}

header {
  background: #22222288;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
header h1 {
  display: inline-block;
  margin: 0;
}
header h1::before {
  color: var(--color-coral);
  content: 'const ';
}
header h1::after {
  color: var(--color-coral);
  content: ' = ';
}
header a {
  color: var(--color-lotus);
}
header ul {
  display: inline-block;
  font-size: 2.4em;
  margin: 0;
  padding: 0;
}
header ul::before {
  color: var(--color-chive);
  content: '{ ';
}
header ul::after {
  color: var(--color-chive);
  content: ' };';
}
header ul li {
  display: inline;
  list-style: none;
}
header ul li::after {
  content: ', ';
}
header ul li:last-child::after {
  content: '';
}

article {
  margin: 5.6rem auto;
  max-width: 100%;
  width: 75em;
}
article h1 {
  color: var(--color-chive);
}
article h1::before {
  content: '/*----- ';
}
article h1::after {
  content: ' ----------*/';
}

section {
  column-gap: 3rem;
  column-width: 22rem;
}
section img {
  width: 100%;
}

.tech-list,
.tech-list ul {
  list-style: none;
  padding: 0;
}
.tech-list li,
section div {
  display: block;
  break-inside: avoid-column;
}
.tech-list li ul li::before {
  content: '├── ';
}
.tech-list li ul li:last-child::before {
  content: '└── ';
}

.project--tech {
  display: inline;
  list-style: none;
  padding: 0;
}
.project--tech::before {
  color: var(--color-chive);
  content: '[ ';
}
.project--tech::after {
  color: var(--color-chive);
  content: ' ];';
}
.project--tech li {
  color: var(--color-foamy);
  display: inline-block;
}
.project--tech li::after {
  color: var(--color-chive);
  content: '", ';
}
.project--tech li::before,
.project--tech li:last-child::after {
  color: var(--color-chive);
  content: '"';
}

.heading--inline {
  display: inline-block;
}
.heading--inline::before {
  color: var(--color-coral);
  content: 'const ';
}
.heading--inline::after {
  color: var(--color-coral);
  content: ' = ';
}

#contacts {
  display: inline;
  list-style: none;
  font-size: 1.5rem;
  padding: 0;
}
#contacts::before {
  color: var(--color-chive);
  content: '{ ';
}
#contacts::after {
  color: var(--color-chive);
  content: ' };';
}
#contacts li {
  color: var(--color-chive);
  padding-left: 2rem;
}
#contacts span {
  color: var(--color-lotus);
}
#contacts span::before,
#contacts a::before,
#contacts a::after {
  content: '"';
  color: var(--color-chive);
}
#contacts span::after {
  content: '": ';
  color: var(--color-chive);
}

@media print, screen and (max-width: 50rem) {
  article h1::before {
    content: '/* ';
  }
  article h1::after {
    content: ' */';
  }
}
