a			{text-decoration:underline;color:white;}
body		{font-family:monospace;}
div:target	{background:#eee;}
html		{background:url('../img/grad.png');color:white;font-size:9pt;
			font-weight:bold;text-shadow:-1px 1px rgba(0,0,0,0.3);}
img,video	{max-width:calc(100% - 1rem);}
sup			{vertical-align:top;position:relative;top:-0.3em;}
t:before	{content:'\a0\a0';}
t:after		{content:'\a0\a0';}

.open,
.closer,
.opener		{display:inline;}
.close		{display:none;}
.embedee	{margin:0.5rem;}